server:
  port: 8080

spring:
    datasource:
      type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
      driver-class-name: com.mysql.jdbc.Driver             # mysql驱动包
      url: jdbc:mysql://localhost:3306/db_zhuzi?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false #数据库名字
      username: root
      password: 123
      dbcp2:
        min-idle: 5                                           # 数据库连接池的最小维持连接数
        initial-size: 5                                       # 初始化连接数
        max-total: 5                                          # 最大连接数
        max-wait-millis: 200                                  # 等待连接获取的最大超时时间

mybatis:
  type-aliases-package: com.zhuzi.dbMachineSubmeter.entity    # 所有Entity别名类所在包
  mapper-locations: classpath*:mapper/*.xml    # mapper映射文件

# SQL执行日志
logging:
  level:
    com.zhuzi.dbMachineSubmeter.dao: debug
